<!DOCTYPE html>
 <head>
    <title>PERSONAL TASK MANAGER</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/task_list.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'>

 </head>
 <body>
    <div class = "nav-bar">
        <a href = "/home">
         <img src = "{{url_for('static',filename='images/home.png')}}" class="home-pic">
        </a>
        <a href = "/profile_page">
         <img src = "{{ url_for('static',filename='images/user.png')}}" class="profile-pic">
        </a>
    </div>

 
        <table>
            <tr>
                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor%}
            </tr>

            {% for row in data%}
            <tr>
                {% for i in row %}
                <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor%}
        </table> 

</body>
</html>
 